* MODELS

In [5]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_log_error, mean_squared_error

from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_log_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR

In [6]:
df = pd.read_csv('data/data_numeric.csv')

In [7]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,-1
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,0
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,-1
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,1
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,-1

In [9]:
feature_X = ['area', 
             'bedrooms', 
             'bathrooms', 
             'stories', 
             'mainroad',
             'guestroom', 
             'basement', 
             'hotwaterheating', 
             'airconditioning',
             'parking', 
             'prefarea', 
             'furnishingstatus']

feature_y = ['price']

In [10]:
len(df)

545

In [ ]:
### Cross validation
X = df[features_X]
y = df[features_y]

cv = 10
accuracy = []
k_values = list(range(1, 35))

for k in k_values:
    knn = KNeighborsClassifier(n_neighbors=k)
    score = cross_val_score(knn, X, y.values.ravel(), cv=cv)  
    accuracy.append(np.mean(score))

best_k = k_values[np.argmax(accuracy)]

In [ ]:
linear_model = LinearRegression()
linear_model.fit(X_train, np.log(y_train))

y_pred_linear = linear_model.predict(X_test)
y_pred_linear = np.exp(y_pred_linear)

linear_msle = mean_squared_log_error(y_test, y_pred_linear)
print(f'MSLE (Linear Regression): {linear_msle}')

In [ ]:
svr_model = SVR(kernel='linear')
svr_model.fit(X_train, np.log(y_train.values.ravel()))

y_pred_svm = svr_model.predict(X_test)
y_pred_svm = np.exp(y_pred_svm)

svm_msle = mean_squared_log_error(y_test, y_pred_svm)
print(f'MSLE (SVM Regression): {svm_msle}')

In [ ]:
clf = RandomForestRegressor()

clf.fit(X_train, np.log(y_train.values.ravel()))

y_pred_rf = clf.predict(X_test)
y_pred_rf = np.exp(y_pred_rf)

rf_msle = mean_squared_log_error(y_test, y_pred_rf)
print(f'MSLE (Random Forest): {rf_msle}')

In [ ]:
model_lgb = LGBMRegressor()
model_lgb.fit(X_train, np.log(y_train))
y_pred_lgb = model_lgb.predict(X_test)

y_pred_lgb = np.exp(y_pred_lgb)
lgb_msle = mean_squared_log_error(y_test, y_pred_lgb)

print(f'MSLE (LightGBM): {lgb_msle}')