#### DATA PROCESSING 

##### FEATURE ENGINEERING

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [36]:
df = pd.read_csv('data/data_ids.csv')

In [37]:
df.columns

Index(['date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_cnt_day', 'item_category_id'],
      dtype='object')

In [38]:
short = df[['date_block_num', 'shop_id', 'item_id', 'item_price']]
print(short.duplicated().sum())
print(short.shape)
# df.drop_duplicates()

1196821
(2935843, 4)

In [39]:
df_group = df.groupby(['date_block_num', 'shop_id', 'item_id'], as_index=False).agg({'item_cnt_day': 'sum', 
                                                          'item_price' : ['mean', 'median', 'std', 'min', 'max']})

df_group['item_price'] = df_group['item_price'].fillna(0)

# df_group['min_max'] = (df_group['max'] - df_group['min']) / df_group['max']

df_group

        date_block_num shop_id item_id item_cnt_day item_price          \
                                                sum       mean  median
0                    0       0      32          6.0      221.0   221.0
1                    0       0      33          3.0      347.0   347.0
2                    0       0      35          1.0      247.0   247.0
3                    0       0      43          1.0      221.0   221.0
4                    0       0      51          2.0      128.5   128.5
...                ...     ...     ...          ...        ...     ...
1609119             33      59   22087          6.0      119.0   119.0
1609120             33      59   22088          2.0      119.0   119.0
1609121             33      59   22091          1.0      179.0   179.0
1609122             33      59   22100          1.0      629.0   629.0
1609123             33      59   22102          1.0     1250.0  1250.0


             std     min     max
0        0.00000   221.0   221.0
1        0.00000   347.0   347.0
2        0.00000   247.0   247.0
3        0.00000   221.0   221.0
4        2.12132   127.0   130.0
...          ...     ...     ...
1609119  0.00000   119.0   119.0
1609120  0.00000   119.0   119.0
1609121  0.00000   179.0   179.0
1609122  0.00000   629.0   629.0
1609123  0.00000  1250.0  1250.0

[1609124 rows x 9 columns]

In [40]:
df_group.columns = [col[0] if col[1] == '' else f"{col[0]}_{col[1]}" for col in df_group.columns]

In [41]:
df_group['min_max'] = (df_group['item_price_max'] - df_group['item_price_min']) / df_group['item_price_max']

In [42]:
df_group.to_csv('data/data_group_price.csv', index=False)